* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}

/* REGOLE COMUNI */
body {
  padding: 100px;
  background-color: #A6160A;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  color: ghostwhite;
}
.hidden {
  opacity: 0;
  transition: 0.75s;
}
.visible {
  opacity: 1;
  transition: 0.75s;
}
input, select, button {
  padding: 10px;
  border: 3px solid #A6160A;
  border-radius: 10px;
  transition: 0.5s;
}
button:hover {
  transform: scale(1.075);
  cursor: pointer;
  color: ghostwhite;
  background-color: #A6160A;
}

/* sezione di input dei dati */
#generatore {
  /* dimensioni */
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  padding: 20px;
  /* istruzioni flex */
  display: flex;
  flex-direction: column;
  /* estetica */
  background-color: ghostwhite;
  border: 10px solid black;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
#generatore .row:nth-of-type(1) {
  /* istruzioni flex */
  display: flex;
  justify-content: space-around;
}
#generatore .row:nth-of-type(2) {
  /* istruzioni flex */
  display: flex;
  justify-content: center;
}
#generatore .row:nth-of-type(2) button {
  margin: 20px;
}
#generatore p {
  margin-bottom: 20px;
  color: ghostwhite;
}

/* sezione di output dei dati */
#biglietto {
  /* dimensioni */
  width: 80%;
  margin: auto;
  padding: 20px;
  /* istruzioni flex */
  display: flex;
  justify-content: space-around;
  /* estetica */
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
#biglietto:hover {
  transform: scale(1.025);
  box-shadow: 0 24px 48px 0 rgba(0,0,0,0.8);
  cursor: pointer;
}
#biglietto > div > p:first-child {
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
#offertaSottotitolo {
  font-size: 0.6em;
}
.standard {
  background-color: ghostwhite;
  border: 10px solid black;
}
.silver {
  background: linear-gradient(15deg, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 100%);
  border: 10px solid #c0c0c0;
}
.gold {
  background: linear-gradient(15deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 100%);
  border: 10px solid #ffd700;
}
