* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}

/* REGOLE COMUNI */
body {
  padding: 100px;
  background-color: black;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  color: ghostwhite;
}

/* sezione di input dei dati */
#generatore {
  /* dimensioni */
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  padding: 20px;
  /* istruzioni flex */
  display: flex;
  justify-content: space-around;
  /* estetica */
  background-color: darkred;
  border: 5px solid ghostwhite;
  border-radius: 25px;
  opacity: 0.75;
}

/* sezione di output dei dati */
#biglietto {
  /* dimensioni */
  width: 80%;
  margin: auto;
  padding: 20px;
  /* istruzioni flex */
  display: flex;
  justify-content: space-around;
  /* estetica */
  background-color: darkred;
  border: 5px solid ghostwhite;
  border-radius: 25px;
  opacity: 0.75;
}
#biglietto > div {
  background-color: ghostwhite;
}
#biglietto > div > p:first-child {
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
